In [6]:
import matplotlib.pyplot as plt
import sqlite3
import pandas as pd
import numpy as np

In [7]:
nodes = pd.read_csv('nodes.csv')
edges = pd.read_csv('edges.csv')

In [8]:
nodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4877 entries, 0 to 4876
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4877 non-null   object
 1   engagement    4877 non-null   int64
 2   num_posts     4877 non-null   int64
 3   num_comments  4877 non-null   int64
dtypes: int64(3), object(1)
memory usage: 152.5+ KB

In [9]:
nodes.nunique()

id              4877
engagement       460
num_posts         13
num_comments     162
dtype: int64

In [11]:
nodes[(nodes['num_posts'] > 2)]

                        id  engagement  num_posts  num_comments
34               212312383         171          3            25
82         A_Child_of_Adam         222          3             0
129   Adorable_Standard_25         369          3             2
311          Awesomeuser90        1539         17            14
395           Big_Sea_5912        1023          3             1
420        BluesSuedeClues        1610          6           279
428   Bonaccorso_di_Novara         123          3             0
443      BranchInitial9452         118          4             0
509       Capable-Art-1972         455          4            17
734            Dare_Ask_67         271          3            15
748          Darth_Azazoth         226          3             0
896          Duke_Nicetius          83          3             4
941   Embarrassed-Dress211         238          3             8
981           Even-Ad-9930         579          3            13
1074   Fickle-Syllabub6730          85          5             7
1097       FlameDragoon933         106          3             2
1099   FlanneryODostoevsky        1951          3            35
1149         FriendofMolly         374          3             2
1270         Haleakala1998         307          3            16
1294    Healthy_Shine_8587        2513          4            24
1411    Imaginary_Wolf8563          12          3             0
1758    Low-Appearance4875         986          3             0
1817  Massive-Albatross823          79          9             1
2111   Objective_Aside1858        3487          6           160
2243        Paradoxbuilder         116          3             0
2245     ParakeetLover2024         443          4             0
2305        PitifulEar3303         965          6             1
2342  Powerful_Falcon_4006         217         15             0
2393        PsychLegalMind        1925          9             2
2414  PuzzleheadedShoe5829        1653          3             8
2613      Sad_Reaction5890         162          3             0
2977          Tessenreacts        3175          3             2
3052      The_Godlike_Zeus         114          3            10
3094      Time_Minute_6036        1510          9            17
3196            ValoNoctis         143          4             0
3216    Virtual-Orchid3065         835          5             3
3258  WeekendFantastic2941         238          6             2
3402    _SilentGhost_10237        1808          7             1
3607           caseybvdc74         225          4            12
3630            chaucer345        1937          3            16
3643       chinese_bedbugs         155          5             1
3660          colepercy120         657          7             0
3759              dsteffee         434          3             7
3787  emergent_convergence         131          3             0
3865             garaile64         201          4             1
4037             jman12234         323          3             8
4074              kep_x124         335         12             6
4104      languageinfinity         142          5             0
4257              najumobi        1214          6             5
4270      nerpa_floppybara         256          3             0
4273               nexxwav         922          3             0
4611  strongerthenbefore20         488         10             1
4639  tastefulmalesideboob         361          3            23

In [6]:
max_engagement = nodes['engagement'].max()
min_engagement = nodes['engagement'].min()
print(f"Max engagement: {max_engagement}, Min engagement: {min_engagement}")

Max engagement: 26259, Min engagement: 11

In [7]:
engagement = nodes['engagement'].value_counts()
engagement

engagement
11      352
12      315
13      279
14      219
15      193
       ...
578       1
365       1
438       1
2318      1
400       1
Name: count, Length: 461, dtype: int64

In [17]:
engagement = nodes[(nodes['engagement'] == 10 ) ] #& (nodes['engagement'] < 1000)
engagement

Empty DataFrame
Columns: [id, engagement]
Index: []